<html>
<style type="text/css">
  h1{
    text-align: center;
  }
  p{
    text-align: center;
  }

  </style>
 <header>
    <ul>
    <!--  <li id="nombre"><a [routerLink]="['/HomeEstudiante']">{{estudiante.firstName}}</a></li> -->
      <li><a [routerLink]="['/HomeDocente']">Inicio</a></li>
      <li><a [routerLink]="['/ListadoDocente']">Listado cursos</a></li>
      <li><a [routerLink]="['/AvisoDocente']">Avisos</a></li>
      <li><a [routerLink]="['/CambiarClave']">Cambiar Clave</a></li>
      <li><a [routerLink]="['']">Salir</a></li>
    </ul>
  </header>
  <body>
      <div class="container">
          <div>
            <label for="uname"><b>Nueva Contraseña</b></label>            
          </div>
          
          <div>
            <label for="psw"><b>Repetir la Contraseña</b></label>
          </div>
          
          <div>
          <input type="submit" value="Cambiar">
          </div>
              
        </div>
             
    
  </body>
</html>

  