<html>
<style type="text/css">
  h1{
    text-align: center;
  }
  p{
    text-align: center;
  }

  </style>
 <header>
    <ul>
    <!--  <li id="nombre"><a [routerLink]="['/HomeEstudiante']">{{estudiante.firstName}}</a></li> -->
      <li><a [routerLink]="['/HomeDocente']">Inicio</a></li>
      <li><a [routerLink]="['/ListadoDocente']">Listado cursos</a></li>
      <li><a [routerLink]="['/AvisoDocente']">Avisos</a></li>
        <li><a [routerLink]="['/CambiarClaveDocente']">Cambiar Clave</a></li>
      <li><a [routerLink]="['']">Salir</a></li>
    </ul>
  </header>
  <body>

    <div class="container" >
      <textarea rows="4" cols="50" >
          ..........Escribe Aqui el mensaje a enviar..........
      </textarea>
    </div>
    <div class="container">
        <button><input type="button" class="btn btn-secondary" value="Enviar mensaje"></button>
    </div>
  </body>
</html>
