<h1>Estudiante</h1>
<hr>
<div class= "row animated fadeIn fast" >
    <div class= "col-md-12">
        <div class= "table-responsive">
          <table class= "table">
              <thead class="thead-dark">
                  <tr>
                    <th scope="col">Ramo</th>
                    <th scope="col">Nota</th>
                    <th scope="col">Desviacion Estandar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>

                </tbody>

          </table>
        </div>
    </div>

</div>
<html>
  <style type="text/css">
    h1{
      text-align: center;
    }
    p{
      text-align: center;
    }
  </style>
  <header>
    <ul>
      <li id="nombre"><a href="['/home']">Nombre</a></li>
      <li><a [routerLink]="['/home']">Home</a></li>
      <li><a [routerLink]="['/teacher']">Teacher</a></li>
      <li><a [routerLink]="['/student']">Student</a></li>
      <li><a [routerLink]="['/comparacion']">Comparacion</a></li>
      <li><a [routerLink]="['']">Logout</a></li>
    </ul>
  </header>

  <div style="padding-top: 150px;">
    <head>
      <title>
        Historico estudiantes
      </title>
    </head>
    <body>
      <h1>Listado de cursos</h1>
      <table>
        <tr>
          <td><strong>Ramo</strong></td>
          <td><strong>Nota aprobacion</strong></td>
          <td><strong>Desviacion estandar</strong></td>
        </tr>
        <tr>
          <td>Calculo 1</td>
          <td><pre>   4.0 </pre></td>
          <td>1.3</td>
        </tr>
        <tr>
          <td>Calculo 2</td>
          <td><pre>   5.0 </pre></td>
          <td>3.4</td>
        </tr>
        <tr>
          <td>Calculo 3</td>
          <pre>   4.3 </pre>
          <td>1.0</td>
        </tr>
      </table>
    </body>
  </div>
</html>
