*{
	margin: 0px;
	padding: 0px;

}

html{
	height: 100%;
}

body{
	height: 100%;
	font-size: 20px;
	background: url("../img/pattern.png");
	background-attachment: fixed;
}

.clearfix{
	float: none;
	clear: both;
}

table{

	border-spacing: 10px 5px;
	width: 20px;

	border-collapse: separate;
	text-align: center;


}

/*Barra de navegacion*/

header{
	display: block;
	width: 100%;
	height: 90px;
	background: #2736ada3;
	position: fixed;
	text-transform: uppercase;
	
}

header ul{
	display: block;
	width: 100%;
	height:inherit;
	margin: 0px auto;
}

header ul li{
	display: inline-block;
	margin: 0px auto;
	text-align: center;
	line-height: 90px;
}
header a{
	display: block;
	padding-right: 20px;
	padding-left: 20px;
	height: inherit;
	text-decoration: none;
	color: white;
	transition: all 300ms; 
}
header a:hover{
	background: rgba(0,0,0,0.8);
}

header #nombre a:hover{
	background:transparent;
}

#fondologin{
	background-color: black;
}

#content{
	min-height: 700px;
	width: 75%;
	margin: 0px auto;
	box-shadow: 0px 0px 40px black;
	background: rgba(255,255,255,0.7);
	padding-top: 120px;

}
/*hohhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh*/