<html>
  <style type="text/css">
    h1{
      text-align: center;
    }
    p{
      text-align: center;
    }
  </style>
  <header>
   <ul>
    <!--  <li id="nombre"><a [routerLink]="['/HomeEstudiante']">{{estudiante.firstName}}</a></li> -->
      <li><a [routerLink]="['/HomeEstudiante']">Inicio</a></li>
      <li><a [routerLink]="['/ListadoEstudiante']">Listado cursos</a></li>
      <li><a [routerLink]="['/GraficoAlumno']">Grafico curso</a></li>
      <li><a [routerLink]="['/CambiarClaveEstudiante']">Cambiar Clave</a></li>
      <li><a [routerLink]="['']">Salir</a></li>
    </ul>
  </header>

  <div style="padding-top:  50px;" >
    <h1>Estado Actual</h1>
    <hr>
    <p>{{ estudiante.firstName }} {{estudiante.lastName}}</p>
    <p> {{estudiante.rut}} </p>

    <p>Ranking: </p>
    <p>Ramos cursados: </p>
    <p>Promedio cursados: </p>
    <hr>
    <div style="display: block">
      <canvas baseChart
            [data]="doughnutChartData"
            [labels]="doughnutChartLabels"
            [chartType]="doughnutChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
      </canvas>
    </div>
  </div>
</html>
