<html>
  <style type="text/css">
    h1{
      text-align: center;
    }
    p{
      text-align: center;
    }
  </style>
  <header>
   <ul>
      <li id="nombre"><a [routerLink]="['/HomeEstudiante']">Nombre</a></li>
      <li><a [routerLink]="['/HomeEstudiante']">Inicio</a></li>
      <li><a [routerLink]="['/ListadoEstudiante']">Listado cursos</a></li>
      <li><a [routerLink]="['/GraficoAlumno']">Grafico curso</a></li>
      <li><a [routerLink]="['']">Salir</a></li>
    </ul>
  </header>

  <div style="padding-top:  150px;" >
    <h1>Estado Actual</h1>
    <hr>
    <p>Nombre: Juantio</p>
    <p>Apellido: Perez</p>
    <p>Año de ingreso: 2013 </p>
    <p>Cursado 40 ramos</p>
    <hr>
    <div style="display: block">
      <canvas baseChart
            [data]="doughnutChartData"
            [labels]="doughnutChartLabels"
            [chartType]="doughnutChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
      </canvas>
    </div>
    <hr>
    <p>Desviacion Estandar : 15</p>
    <p>Ranking : 100</p>
  </div>
</html>
